# 
# Copyright 2016-2019 Martin Goellnitz
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.
#
# Environment variables needed:
# ORG_GRADLE_PROJECT_bintrayUser (optional)
# ORG_GRADLE_PROJECT_bintrayKey (optional)
# TANGRAM_MORPHIA_INTEGRATION_TEST (Required to point to a MongoDB)
# ORG_GRADLE_PROJECT_release=true (optional)
#
image: openjdk:8-jdk-alpine

before_script:
  - export GRADLE_USER_HOME=/tmp/.gradle

stages:
  - modules

build_modules:
  stage: modules
  script: 
  - ./gradlew jacocoTestReport jacocoCombinedReport coveralls build
  - ./gradlew generatePomFileForMavenJavaPublication artifactoryPublish
  artifacts:
    expire_in: 5 days
    paths:
    - ./jpa/build
    name: ${CI_BUILD_STAGE}

cache:
  paths:
  - /tmp/.gradle/caches/
  - /tmp/.gradle/wrapper/
