/.gradle
/*/.gradle
/*/build
/*/.classpath
/*/.project
/*/.settings
/*/private/cache
/*/src/tangram/*-build.properties
*.nb-gradl*
/ebean/tangram-*.sql
/build/
/editor/expanded*
/editor/codemirror*
/editor/ckeditor*
