/.gradle
/*/.gradle
/*/build
/*/.classpath
/*/.project
/*/.settings
/*/private
/*/src/tangram/*-build.properties
*.nb-gradl*
/ebean/tangram-*.sql
/private
/build/
/editor/expanded*
/editor/codemirror*
/editor/ckeditor*
/jacoco
/.trackdown
/issues.md
/roadmap.md
