a {
	text-decoration: none;
	color: #905000;
	font-weight: bold;
}

body {
	font-family: Sans-Serif, Helvetica, Arial;
	font-size: 11pt;
	background-color: #FFFFC0;
	margin: 1px 2px 1px 2px;
}

body form {
	width: 330px;
}

input {
	font-weight: bold;
	padding: 3px;
	background-color: #DFD080;
}

.cms_editor_table {
	margin-bottom: 15px;
	width: 320px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

.cms_editor_table div {
	padding: 2px;
}

.cms_editor_field_value {
	border-width: 0px 0px 1px 0px;
	border-style: dotted;
	border-color: #000000;
	width: 312px;
}

.cms_editor_textfield {
	width: 300px;
}

.cms_editor_blobfield {
	width: 94%;
}

.cms_editor_label {
	font-weight: bold;
	border: none;
	padding: 0;
}

.cms_editor_row {
	margin-bottom: 5px;
}

.cms_editor_title {
	font-weight: bold;
}

.cms_editor_button {
	font-size: 9pt;
	padding: 0;
}
