a {
	text-decoration: none;
	color: #905000;
	font-weight: bold;
}

body {
	font-family: Sans-Serif, Helvetica, Arial;
	font-size: 11pt;
	background-color: #FFFFC0;
	margin: 10px 25px 10px 15px;
}

input {
	font-weight: bold;
	padding: 3px;
	background-color: #DFD080;
}

li {
	margin-bottom: 4px;
}

.cms_editor_table {
	margin-bottom: 15px;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

.cms_editor_table td {
	padding: 5px;
	border-width: 0px 1px 1px 0px;
	border-style: dotted;
	border-color: #000000;
}

.cms_editor_field_value {
	width: *;
}

.cms_editor_textfield {
	width: 85%;
}

.cms_editor_blobfield {
	width: 94%;
}

.cms_editor_label {
	font-weight: bold;
}

.cms_editor_label_td {
	font-weight: bold;
	width: 150px;
}

.cms_editor_row {
	margin-bottom: 10px;
}

.cms_editor_title {
	font-weight: bold;
}

.cms_editor_button {
	font-size: 10pt;
	padding: 0;
}

.cms_editor_howto {
	margin-top: 10px;
	font-weight: normal;
	font-size: 10pt;
}

.cms_editor_inline {
	display: inline;
}

.cms_editor_id_box {
	float: left;
	width: 260px;
	border-bottom: 1px dotted #000000;
}

.cms_editor_footer {
	width: 100%;
	text-align: right;
}

.CodeMirror-wrapping {
	background-color: #FFFFFF;
}

.CodeMirror-line-numbers {
	margin-top: 5px;
}

.CodeMirror-line-numbers div {
	font-size: 12px;
	height: 16px;
	text-align: right;
	color: #FFFFFF;
	padding-right: 2px;
	background-color: #DFD080;
}