body {
	font-family: Sans-Serif, Helvetica, Arial;
	font-size: 11pt;
	background-color: #F8F0FF;
	margin: 10px 25px 10px 15px;
}

a {
	text-decoration: none;
	color: #700080;
	font-weight: bold;
}

input {
	font-weight: bold;
	padding: 3px;
	background-color: #D0C8E0;
}

li {
	margin-bottom: 4px;
}

.cms_editor_footer {
	width: 100%;
	text-align: right;
}
