body {
  font-family: Sans-Serif, Helvetica, Arial;
  font-size: 11pt;
  background-color: #f0f0f0;
  margin: 10px 25px 10px 15px;
}

a {
  text-decoration: none;
  color: #905000;
  font-weight: bold;
}

input {
  font-weight: bold;
  padding: 3px;
  background-color: #d8c8a8;
}

li {
  margin-bottom: 4px;
}

.tangram_footer {
  float: right;
  width: 100%;
  text-align: right;
}

.cms_editor_row {
  margin-bottom: 10px;
}

.cms_editor_label {
  font-weight: bold;
}
