a {
	text-decoration: none;
	color: #905000;
	font-weight: bold;
}

body {
	font-family: Sans-Serif, Helvetica, Arial;
	font-size: 11pt;
	background-color: #FFFFC0;
	margin: 10px 25px 10px 15px;
}

input {
	font-weight: bold;
	padding: 3px;
	background-color: #DFD080;
}

li {
	margin-bottom: 4px;
}
